﻿
@{
    Layout = null;
}
<head>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="@Url.Content("~/Content/morris.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/mapplic.css")" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="@Url.Content("~/Content/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
<link href="@Url.Content("~/Content/plugins.min.css")" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="@Url.Content("~/Content/layout.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/custom.min.css")" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->
<link href="@Url.Content("~/Content/select2.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/select2.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/components-md.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CustomOverlay.css")" rel="stylesheet" type="text/css" />

<link rel="shortcut icon" href="favicon.ico" />
</head>
<body onLoad="myclock('analog-clock'); show();">
    <canvas id="analog-clock" style="width: 250px; position: absolute; top: 50%; left:50%; transform: translate(-50%,-50%)"></canvas>
</body>
<script src="@Url.Content("~/Scripts/Clock.js")" type="text/javascript"></script>


<script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js.cookie.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.blockui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap-switch.min.js")" type="text/javascript"></script>