﻿
@{
    Layout = null;
}


<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Call Centre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @*<link href="@Url.Content("~/Content/StopWatch.css")" rel="stylesheet" type="text/css" />*@
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="@Url.Content("~/Content/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mapplic.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@Url.Content("~/Content/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/plugins.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/Content/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/custom.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/Content/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/components-md.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CustomOverlay.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/_all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/grey.css")" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid"   >

    <!-- BEGIN HEADER -->
    <div class="page-header navbar-fixed-top">

        <!-- BEGIN HEADER INNER -->
        <div class="clearfix">

            <!-- BEGIN BURGER TRIGGER -->
            <div class="burger-trigger">

                <button class="menu-trigger">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>

                <div class="menu-overlay menu-overlay-bg-transparent">
                    <div class="menu-overlay-content">
                        <ul class="menu-overlay-nav text-uppercase">
                            <li>
                                <a href="#">Dashboard</a>
                            </li>
                            @*<li>
                                <a href="#">Reports</a>
                            </li>
                            <li>
                                <a href="#">Templates</a>
                            </li>
                            <li>
                                <a href="#">Support</a>
                            </li>*@
                            <li>
                                <a href="#">Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-bg-overlay">
                    <button class="menu-close">&times;</button>
                </div>
                <!-- the overlay element -->
            </div>
            <!-- END NAV TRIGGER -->

            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="Dashboard">
                    <h2>Call Center</h2>
                </a>
            </div>
            <!-- END LOGO -->

            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge badge-success"> 7 </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>
                                    <span class="bold">12 pending</span> notifications
                                </h3>
                                <a href="#">view all</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">just now</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-success">
                                                    <i class="fa fa-plus"></i>
                                                </span> New user registered.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">3 mins</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger">
                                                    <i class="fa fa-bolt"></i>
                                                </span> Server #12 overloaded.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">10 mins</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-warning">
                                                    <i class="fa fa-bell-o"></i>
                                                </span> Server #2 not responding.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">14 hrs</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-info">
                                                    <i class="fa fa-bullhorn"></i>
                                                </span> Application error.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">2 days</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger">
                                                    <i class="fa fa-bolt"></i>
                                                </span> Database overloaded 68%.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">3 days</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger">
                                                    <i class="fa fa-bolt"></i>
                                                </span> A user IP blocked.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">4 days</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-warning">
                                                    <i class="fa fa-bell-o"></i>
                                                </span> Storage Server #4 not responding dfdfdfd.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">5 days</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-info">
                                                    <i class="fa fa-bullhorn"></i>
                                                </span> System Error.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">9 days</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger">
                                                    <i class="fa fa-bolt"></i>
                                                </span> Storage server failed.
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                       
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                   
                   
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->

        </div>
        <!-- END HEADER INNER -->

    </div>
    <!-- END HEADER -->

    <!-- BEGIN CONTAINER -->
    <div class="page-container page-content-inner page-container-bg-solid">

        <!-- BEGIN BREADCRUMBS -->
        <!-- Remove "hide" class from "breadcrumbs hide" DIV and "margin-top-30" class from below "container-fluid container-lf-space margin-top-30" DIV in order to use the page breadcrumbs -->
        <div class="breadcrumbs hide">
            <div class="container-fluid">
                <h2 class="breadcrumbs-title">Dashboard</h2>
                <ol class="breadcrumbs-list">
                    <li>
                        <a class="breadcrumbs-item-link" href="#">Home</a>
                    </li>
                    <li>
                        <a class="breadcrumbs-item-link" href="#">Features</a>
                    </li>
                    <li>
                        <a class="breadcrumbs-item-link" href="#">Dashboard</a>
                    </li>
                </ol>
            </div>
        </div>
        <!-- END BREADCRUMBS -->

        <!-- BEGIN CONTENT -->
        <div class="container-fluid container-lf-space margin-top-20">

            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row widget-row">

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-6">
                       @Html.Action("UserInfo", "CallCenter")
                </div>

                <!-- BEGIN WIDGET PROGRESS -->
                <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12" style="background-color:white">
                    @Html.Action("OperationProgress", "CallCenter")
                </div>
                <!-- END WIDGET PROGRESS -->

                <!--Begin Operation & Script-->
                <div class="col-lg-6 col-md-7 col-xs-12 col-sm-12">
                    @*@Html.Partial("_OperationScript")*@
                    @Html.Action("OperationScript","CallCenter")
                </div>
                <!--End Operation & Script-->

                <!--Clock Begin-->
                <div class="col-lg-2 col-md-12 col-xs-12 col-sm-12" style="height:322px;">
                    @Html.Action("Clock", "CallCenter")
                </div>
                <!--Clock End-->

            </div>

            <!--Begin separator-->
            @Html.Action("Separator", "CallCenter")
            <!--End separator-->

            <!--SecondPart-->

            <!--Begin Individuals list-->
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12" id="indList" style="margin-top:25px;">
                @Html.Action("IndividualsList", "CallCenter")
            </div>
            <!--End Individuals list-->

            <!--Begin Questions-->
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12" id="questions" hidden="hidden" style="margin-top:25px;">
                @Html.Action("Questions", "CallCenter")
            </div>
            <!--End Questions-->

        <!--Begin WidgetTab-->
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="FAQs" style="margin-top:4px;">
            @Html.Action("FAQs", "CallCenter")
        </div>
        <!--End WidgetTab-->

    </div>
    <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->

                        <!-- BEGIN FOOTER -->
                        <div class="page-footer">
                            <div class="page-footer-inner container-fluid container-lf-space">

                            </div>
                            <div class="pull-right" id="scrollTop">
                                <i class="icon-arrow-up fa-2x"></i>
                            </div>
                        </div>

                        <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/js.cookie.min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/jquery.blockui.min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/bootstrap-switch.min.js")" type="text/javascript"></script>

                        <script src="@Url.Content("~/Scripts/morris.min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/raphael-min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/hammer.min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/jquery.easing.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/mapplic.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/jquery.waypoints.min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/jquery.counterup.min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/jquery.sparkline.min.js")" type="text/javascript"></script>

                        <script src="@Url.Content("~/Scripts/app.min.js")" type="text/javascript"></script>

                        <script src="@Url.Content("~/Scripts/dashboard.min.js")" type="text/javascript"></script>

                        <script src="@Url.Content("~/Scripts/layout.min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/quick-sidebar.min.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/quick-nav.min.js")" type="text/javascript"></script>

                        <script src="@Url.Content("~/Scripts/select2.full.js")" type="text/javascript"></script>
                        <script src="@Url.Content("~/Scripts/components-select2.min.js")" type="text/javascript"></script>

                        <script src="@Url.Content("~/Scripts/Clock.js")" type="text/javascript"></script>

                        <!--for Question div-->
                        <script src="@Url.Content("~/Scripts/horizontal-timeline.min.js")" type="text/javascript"></script>

                        <script src="@Url.Content("~/Scripts/icheck.min.js")" type="text/javascript"></script>
                        @*<script src="@Url.Content("~/Scripts/StopWatch.js")" type="text/javascript"></script>*@
</body>

</html>

<script type="text/javascript">

    var operationID;

    //the URL that returns all operations info
    var operationURL="http://server1.dev.wbintl.co:1682/CallCenter/GetAllOperationsInfo";
    
    //This is an ajax function to test operation and script display from database. 
    function fillOperationsDropDown() {
        $.ajax({
            type: 'GET', 
            url:operationURL,
            dataType: 'json',
            timeout: 10000,
            success: function (data, textStatus, xhr) {
                
                if (data == 0)
                    alert("Data couldn't be found!");
                else {                   
                    $.each(data, function (key, value) {
                        var operations = "<option value=" + value.OperationKey + ">" + value.OperationName + "</option>";
                        $("#operationSelect").append(operations);                        
                    });
                    
                    //fill the first operation and script information on load.
                     operationID = $('#operationSelect :selected').val();
                    displayOperationInformation(operationID);
                    fillIndividualsList(operationID);
                    fillFAQsList(operationID);
                    $('#operationSelect').select2();

                }

            }
        });
    }
           
    //get the selected operation key.
    $(document).on('change', '#operationSelect', function () {
        $('#operationSelect :selected').text();
        var operationID = $('#operationSelect :selected').val();
        displayOperationInformation(operationID);
        $("#pendingIndividualsList").empty();
        fillIndividualsList(operationID);
        $("#generalFAQ").empty();
        $("#specificFAQ").empty();
        fillFAQsList(operationID);
        
    });
    

    //this function is to display the script &... ;
   function displayOperationInformation(opID) {
       
        $.ajax({
            type: 'GET',
            url:operationURL + "?operationKey=" + opID + "",
            dataType: 'json',
            timeout: 10000,
            success: function (data, textStatus, xhr) {

                if (data == 0)
                    alert("Data couldn't be found!");
                else {

                    //only one value will be displayed
                    $.each(data, function (key, value) {

                        //script info <div>
                        var scriptText = "<div>" + value.ScriptText; + "</div>";
                        $("#scriptText").html(scriptText);

                        var scriptNote = "<div><u><br/>NOTE:</u> " + value.ScriptNote; + "</div>";
                        $("#scriptText").append(scriptNote);

                        //operation info <div>
                        var operationName = "<div>" + value.OperationName; + "</div>";
                        $("#operationName").html(operationName);

                        var re = /-?\d+/;

                        //this is a way to convert a timestamp to a date. here it's done for operation start date.
                        var jsonDateStartDate = value.OperationStartDate  // returns "/Date(1245398693390)/"; this is an example format 
                        var mStartDate = re.exec(jsonDateStartDate);
                        var dStartDate = new Date(parseInt(mStartDate[0]));
                        //getting only the day, month, and year.
                        var dayStartDate = dStartDate.getDate();
                        var monthStartDate = dStartDate.getMonth();
                        var yearStartDate = dStartDate.getFullYear();
                        //Start Date Format
                        var operationStartDate = "<div>Start Date: " + dayStartDate + "-" + monthStartDate + "-" + yearStartDate; + "</div>";
                        $("#operationStartDate").html(operationStartDate);

                        //this is a way to convert a timestamp to a date. here it's done for operation end date.
                        var jsonDateEndDate = value.OperationEndDate  // returns "/Date(1245398693390)/"; this is an example format 
                        var mEndDate = re.exec(jsonDateEndDate);
                        var dEndDate = new Date(parseInt(mEndDate[0]));
                        //getting only the day, month, and year.
                        var dayEndDate = dEndDate.getDate();
                        var monthEndDate = dEndDate.getMonth();
                        var yearEndDate = dEndDate.getFullYear();
                        //End Date Format
                        var operationEndDate = "<div>End Date: " + dayEndDate + "-" + monthEndDate + "-" + yearEndDate; + "</div>";
                        $("#operationEndDate").html(operationEndDate);
                    });
           
                }
            },
            error: function (xhr, status, errorThrown) {
                alert(status + errorThrown);
            }
        })
    }

   

    //});
    
</script>

<script type="text/javascript">
    //$(document).ready(function () {


        //});
        //the URL that returns all operations info
        var individualURL = "http://pmdev.wbintl.co:1682/CallCenter/getIndividuals";

        //This is an ajax function to test operation and script display from database.
        function fillIndividualsList(opID) {
            $.ajax({
                type: 'GET',
                url: individualURL + "?operationKey=" + opID,
                dataType: 'json',
                timeout: 10000,
                success: function (data, textStatus, xhr) {

                    if (data == 0)
                        alert("Data couldn't be found!");
                    else {

                        $("#pendingIndividualsList").empty();
                        $("#callBackIndividualsList").empty();
                        $("#completedIndividualsList").empty();
                        $("#wrongNumberIndividualsList").empty();

                        var i = 0;
                        var curID = '';
                        var prevID = '';
                        //alert(opID);
                        $.each(data, function (key, value) {

                            curID=value.ID;
                            //alert(curID)
                            if (value.ID == "") return " ";

                            //else if (curID != prevID) {
                            //alert("hello individual" + value.ID);

                            if (value.Value == "Call") {
                                var html = "<div class='mt-action' id=" + String(parseInt(value.ID)) + ">";
                                html += '<div class="mt-action">';
                                html += '<div class="mt-action-img">';
                                html += '<img src="@Url.Content("~/UsersImgs/placeholder.png")" style="width:45px; height:45px;" />';
                                html += '</div>';
                                html += '<div class="mt-action-body">';
                                html += '<div class="mt-action-row">';
                                html += '<div class="mt-action-info ">';
                                html += '<div class="col-md-7 col-sm-7 col-lg-7"><div class="mt-action-icon ">';
                                html += '<i id="fa' + String(parseInt(value.ID)) + '"class="fa fa-clock-o fa-4x" aria-hidden="true" value=' + value.Value + '"></i>';
                                html += '</div>';
                                html += '<div class="mt-action-details ">';
                                html += '<span class="mt-action-author">' + value.الاسم + ' ' + value.الشهرة + '</span>';
                                html += '<p class="mt-action-desc">' + value.بلدة_النفوس + ': ' + value.بلدة_السكن + '&nbsp&nbsp<i class="fa fa-ellipsis-v" aria-hidden="true"></i>&nbsp&nbsp' + value.الانتماء_السياسي_group_ + ': ' + value.الانتماء_السياسي + '</p></div>';
                                html += '<div class="mt-action-datetime ">';
                                html += '<span class="mt-action-dot" style="background-color:' + value.CallStatusColour + ';"></span><span class="mt=action-time">9:30-13:00</span></div></div>';
                                html += '<div class="mt-action-buttons" style="position: absolute; top: 50%; left: 70%; transform: translate(-50%,-50%);">';
                                html += ' <div class="btn-group btn-group-circle" id="indRow' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + ' style="width: 266px;height: 48px;">';
                                html += '<button type="button" class="btn btn-outline green btn-xs" id="callInd' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + ' style="height:38px" value=' + value.ID + '>Call</button>';
                                html += '<button type="button" class="btn btn-outline blue btn-xs" id="btnWrongNumber' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + '>Wrong<br/>number</button>';
                                html += '<button type="button" class="btn btn-outline yellow btn-xs" id="Test3">No<br/>answer</button>';
                                html += '<button type="button" class="btn btn-outline blue btn-xs" id="btnCallBack' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + '>Call<br/>back</button>';
                                html += '<button type="button" class="btn btn-outline red btn-xs" id="done" data-rowId=' + String(parseInt(value.ID)) + ' style="height:38px">Done</button></div>';
                                html += '<div class="btn-group btn-group-devided " id="indRowEnd" data-rowId=' + String(parseInt(value.ID)) + ' style="display:none; padding-bottom: 20px;">';
                                html += '<button type="button" class="btn btn-outline red btn-circle btn-sm" id="btnEnd" >End</button></div></div></div></div></div>';

                                prevID = curID;
                                //}
                                //else return '';
                                i += 1;
                                if (value.Value == "Call" || value.Value == "noAnswer") $("#pendingIndividualsList").append(html);
                            }
                            else if (value.Value == "Call Back") {
                                var html = "<div class='mt-action' id=" + String(parseInt(value.ID)) + ">";
                                html += '<div class="mt-action">';
                                html += '<div class="mt-action-img">';
                                html += '<img src="@Url.Content("~/UsersImgs/placeholder.png")" style="width:45px; height:45px;" />';
                                html += '</div>';
                                html += '<div class="mt-action-body">';
                                html += '<div class="mt-action-row">';
                                html += '<div class="mt-action-info ">';
                                html += '<div class="col-md-7 col-sm-7 col-lg-7"><div class="mt-action-icon ">';
                                html += '<i id="fa' + String(parseInt(value.ID)) + '"class="fa fa-arrow-left fa-4x" aria-hidden="true" value=' + value.Value + '"></i>';
                                html += '</div>';
                                html += '<div class="mt-action-details ">';
                                html += '<span class="mt-action-author">' + value.الاسم + ' ' + value.الشهرة + '</span>';
                                html += '<p class="mt-action-desc">' + value.بلدة_النفوس + ': ' + value.بلدة_السكن + '&nbsp&nbsp<i class="fa fa-ellipsis-v" aria-hidden="true"></i>&nbsp&nbsp' + value.الانتماء_السياسي_group_ + ': ' + value.الانتماء_السياسي + '</p></div>';
                                html += '<div class="mt-action-datetime ">';
                                html += '<span class="mt-action-dot" style="background-color:' + value.CallStatusColour + ';"></span><span class="mt=action-time">9:30-13:00</span></div></div>';
                                html += '<div class="mt-action-buttons" style="position: absolute; top: 50%; left: 70%; transform: translate(-50%,-50%);">';
                                html += ' <div class="btn-group btn-group-circle" id="indRow' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + ' style="width: 266px;height: 48px;">';
                                html += '<button type="button" class="btn btn-outline green btn-xs" id="newCallInd' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + ' style="height:38px" value=' + value.ID + '>Call</button>';
                                html += '<button type="button" class="btn btn-outline blue btn-xs" id="btnWrongNumber' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + '>Wrong<br/>number</button>';
                                html += '<button type="button" class="btn btn-outline yellow btn-xs" id="Test3">No<br/>answer</button>';
                                html += '<button type="button" class="btn btn-outline blue btn-xs" id="btnCallBack' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + '>Call<br/>back</button>';
                                html += '<button type="button" class="btn btn-outline red btn-xs" id="done" data-rowId=' + String(parseInt(value.ID)) + ' style="height:38px">Done</button></div>';
                                html += '<div class="btn-group btn-group-devided " id="indRowEnd" data-rowId=' + String(parseInt(value.ID)) + ' style="display:none; padding-bottom: 20px;">';
                                html += '<button type="button" class="btn btn-outline red btn-circle btn-sm" id="btnEnd" >End</button></div></div></div></div></div>';

                                $("#callBackIndividualsList").append(html);
                            }
                            else if (value.Value == "Completed") {
                                var html = "<div class='mt-action' id=" + String(parseInt(value.ID)) + ">";
                                html += '<div class="mt-action">';
                                html += '<div class="mt-action-img">';
                                html += '<img src="@Url.Content("~/UsersImgs/placeholder.png")" style="width:45px; height:45px;" />';
                                html += '</div>';
                                html += '<div class="mt-action-body">';
                                html += '<div class="mt-action-row">';
                                html += '<div class="mt-action-info ">';
                                html += '<div class="col-md-7 col-sm-7 col-lg-7"><div class="mt-action-icon ">';
                                html += '<i id="fa' + String(parseInt(value.ID)) + '"class="fa fa-check-circle-o fa-4x" aria-hidden="true" value=' + value.Value + '"></i>';
                                html += '</div>';
                                html += '<div class="mt-action-details ">';
                                html += '<span class="mt-action-author">' + value.الاسم + ' ' + value.الشهرة + '</span>';
                                html += '<p class="mt-action-desc">' + value.بلدة_النفوس + ': ' + value.بلدة_السكن + '&nbsp&nbsp<i class="fa fa-ellipsis-v" aria-hidden="true"></i>&nbsp&nbsp' + value.الانتماء_السياسي_group_ + ': ' + value.الانتماء_السياسي + '</p></div>';
                                html += '<div class="mt-action-datetime ">';
                                html += '<span class="mt-action-dot" style="background-color:' + value.CallStatusColour + ';"></span><span class="mt=action-time">9:30-13:00</span></div></div>';
                                html += '<div class="mt-action-buttons" style="position: absolute; top: 50%; left: 70%; transform: translate(-50%,-50%);">';
                                html += ' <div class="btn-group btn-group-circle" id="indRow' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + ' style="width: 266px;height: 48px;">';
                                html += '<button type="button" class="btn btn-outline green btn-xs" id="callInd' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + ' style="height:38px" value=' + value.ID + '>Call</button>';
                                html += '<button type="button" class="btn btn-outline blue btn-xs" id="btnWrongNumber' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + '>Wrong<br/>number</button>';
                                html += '<button type="button" class="btn btn-outline yellow btn-xs" id="Test3">No<br/>answer</button>';
                                html += '<button type="button" class="btn btn-outline blue btn-xs" id="btnCallBack' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + '>Call<br/>back</button>';
                                html += '<button type="button" class="btn btn-outline red btn-xs" id="done" data-rowId=' + String(parseInt(value.ID)) + ' style="height:38px">Done</button></div>';
                                html += '<div class="btn-group btn-group-devided " id="indRowEnd" data-rowId=' + String(parseInt(value.ID)) + ' style="display:none; padding-bottom: 20px;">';
                                html += '<button type="button" class="btn btn-outline red btn-circle btn-sm" id="btnEnd" >End</button></div></div></div></div></div>';

                                $("#completedIndividualsList").append(html);
                            }
                            else if (value.Value == "WrongNumber") {
                                var html = "<div class='mt-action' id=" + String(parseInt(value.ID)) + ">";
                                html += '<div class="mt-action">';
                                html += '<div class="mt-action-img">';
                                html += '<img src="@Url.Content("~/UsersImgs/placeholder.png")" style="width:45px; height:45px;" />';
                                html += '</div>';
                                html += '<div class="mt-action-body">';
                                html += '<div class="mt-action-row">';
                                html += '<div class="mt-action-info ">';
                                html += '<div class="col-md-7 col-sm-7 col-lg-7"><div class="mt-action-icon ">';
                                html += '<i id="fa' + String(parseInt(value.ID)) + '"class="fa fa-times fa-4x" aria-hidden="true" value=' + value.Value + '"></i>';
                                html += '</div>';
                                html += '<div class="mt-action-details ">';
                                html += '<span class="mt-action-author">' + value.الاسم + ' ' + value.الشهرة + '</span>';
                                html += '<p class="mt-action-desc">' + value.بلدة_النفوس + ': ' + value.بلدة_السكن + '&nbsp&nbsp<i class="fa fa-ellipsis-v" aria-hidden="true"></i>&nbsp&nbsp' + value.الانتماء_السياسي_group_ + ': ' + value.الانتماء_السياسي + '</p></div>';
                                html += '<div class="mt-action-datetime ">';
                                html += '<span class="mt-action-dot" style="background-color:' + value.CallStatusColour + ';"></span><span class="mt=action-time">9:30-13:00</span></div></div>';
                                html += '<div class="mt-action-buttons" style="position: absolute; top: 50%; left: 70%; transform: translate(-50%,-50%);">';
                                html += ' <div class="btn-group btn-group-circle" id="indRow' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + ' style="width: 266px;height: 48px;">';
                                html += '<button type="button" class="btn btn-outline green btn-xs" id="callInd' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + ' style="height:38px" value=' + value.ID + '>Call</button>';
                                html += '<button type="button" class="btn btn-outline blue btn-xs" id="btnWrongNumber' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + '>Wrong<br/>number</button>';
                                html += '<button type="button" class="btn btn-outline yellow btn-xs" id="Test3">No<br/>answer</button>';
                                html += '<button type="button" class="btn btn-outline blue btn-xs" id="btnCallBack' + String(parseInt(value.ID)) + '" data-rowId=' + String(parseInt(value.ID)) + '>Call<br/>back</button>';
                                html += '<button type="button" class="btn btn-outline red btn-xs" id="done" data-rowId=' + String(parseInt(value.ID)) + ' style="height:38px">Done</button></div>';
                                html += '<div class="btn-group btn-group-devided " id="indRowEnd" data-rowId=' + String(parseInt(value.ID)) + ' style="display:none; padding-bottom: 20px;">';
                                html += '<button type="button" class="btn btn-outline red btn-circle btn-sm" id="btnEnd" >End</button></div></div></div></div></div>';

                                $("#wrongNumberIndividualsList").append(html);
                            }

                        });

                    }

                }




            });
        }
    //}

    //fillIndividualsList(9);
</script>

<script type="text/javascript">

    fillOperationsDropDown();

    $(document).ready(function () {

        

        $(document).on("click", "[id^='callInd']", function () {

            //stopwatch timer;
            start();

            $("#completedTab").attr("data-toggle", "disabled");
            $("#callBackTab").attr("data-toggle", "disabled");
            $("#wrongNumberTab").attr("data-toggle", "disabled");
            $("#completedTab").css("cursor", "no-drop");
            $("#callBackTab").css("cursor", "no-drop");
            $("#wrongNumberTab").css("cursor", "disabled");

            $("#scrollIndividual").css("overflow", "hidden");

            var rowCallId = $(this).attr("data-rowId");
            var elementCopied = $("#" + rowCallId);

            $("#fa" + rowCallId).removeClass("fa-clock-o");
            $("#fa" + rowCallId).removeClass("fa-arrow-left");
            $("#fa" + rowCallId).addClass("fa-phone");

            $("div").scrollTop(-1583);


            $(elementCopied).remove();
            $("#pendingIndividualsList").prepend(elementCopied);

            $("#individualsList").addClass("mt-element-overlay");
            $("#showOverlay").show();
            //$("#indRow" + rowCallId).hide();
            //$("#indRowEnd").show();

        });



        $(document).on("click", "#done", function () {

            ////reload a new questions view.
            //var questionsView = '/callcenter/Questions';
            //$("#questions").load(questionsView);
            /////callcenter/FAQs

            ////reload a new questions view.
            //var questionsView = '/callcenter/FAQs';
            //$("#FAQs").load(questionsView);
            
            

            //stopwatch timer;
            stop();
            var callTime = formatTime(x.time());
            //alert(callTime);
            reset();

            $("#completedTab").attr("data-toggle", "tab");
            $("#callBackTab").attr("data-toggle", "tab");
            $("#pendingTab").attr("data-toggle", "tab");
            $("#completedTab").css("cursor", "auto");
            $("#callBackTab").css("cursor", "auto");
            $("#pendingTab").css("cursor", "auto");
            $("#wrongNumberTab").attr("data-toggle", "tab");
            $("#wrongNumberTab").css("cursor", "auto");
            $("#scrollIndividual").css("overflow", "auto");
          

            $("#individualsList").removeClass("mt-element-overlay");
            $("#showOverlay").hide();

            var rowId = $(this).attr("data-rowId");

            var elementCopied = $("#" + rowId);

            $("#fa" + rowId).removeClass("fa-phone");
            $("#fa" + rowId).removeClass("fa-arrow-left");
            $("#fa" + rowId).addClass("fa-check-circle-o");
            $("#indRow" + rowId).remove();
            $(elementCopied).remove();

            $("#completedIndividualsList").append(elementCopied);
        });


        //$(document).on("click", "#btnEnd", function () {

        //    $("#completedTab").attr("data-toggle", "tab");
        //    $("#callBackTab").attr("data-toggle", "tab");
        //    $("#completedTab").css("cursor", "auto");
        //    $("#callBackTab").css("cursor", "auto");
        //    $("#scrollIndividual").css("overflow", "auto");

        //    var rowEndId = $("#indRowEnd").attr("data-rowId");

        //    $("#fa" + rowEndId).removeClass("fa-phone");
        //    $("#fa" + rowEndId).addClass("fa-clock-o");

        //    $("#individualsList").removeClass("mt-element-overlay");
        //    $("#showOverlay").hide();
        //    $("#indRow" + rowEndId).show();
        //    $("#indRowEnd").hide();
        //});

        $(document).on("click", "#callMode", function () {

            $("#individualsList").hide();
            $("#indList").hide();
            $("#questions").show();
        });



        $(document).on("click", "#returnToIndividuals", function () {

            $("#individualsList").show();
            $("#indList").show();
            $("#questions").hide();


        });

        ////cudtom go2top button in the footer
        //$("#scrollTop").click(function () {
        //    $("body").scrollTop(-1583);
        //});

        ////testing next and previous in questions
        //$("#testNext1").click(function () {

        //    $("#2").click();
        //    $("#1").css("color", "green");
        //    $("#1").css("font-weight", "bold");
        //});

        ////testing next and previous in questions
        //$("#testNext2").click(function () {

        //    $("#3").click();
        //    $("#2").css("color", "green");
        //    $("#2").css("font-weight", "bold");
        //});

        //$("#testNoAnswer1").click(function () {

        //    $("#2").click();
        //    $("#1").css("color", "purple");
        //    $("#1").css("font-weight", "bold");
        //});

        //$("#testNoAnswer2").click(function () {

        //    $("#3").click();
        //    $("#2").css("color", "purple");
        //    $("#2").css("font-weight", "bold");
        //});

        //$("#testPrev2").click(function () {

        //    $("#1").click();
        //});
        ////testing end

    });


    $(document).on("click", "[id^='btnCallBack']", function () {

        ////reload a new questions view.
        //var questionsView = '/callcenter/Questions';
        //$("#questions").load(questionsView);
        
        ////reload a new questions view.
        //var questionsView = '/callcenter/FAQs';
        //$("#FAQs").load(questionsView);

        //stopwatch timer;
        stop();
        var callTime = formatTime(x.time());
        //alert(callTime);
        reset();

        $("#completedTab").attr("data-toggle", "tab");
        $("#callBackTab").attr("data-toggle", "tab");
        $("#completedTab").css("cursor", "auto");
        $("#callBackTab").css("cursor", "auto");
        $("#scrollIndividual").css("overflow", "auto");
        $("#pendingTab").attr("data-toggle", "tab");
        $("#pendingTab").css("cursor", "auto");
        $("#wrongNumberTab").attr("data-toggle", "tab");
        $("#wrongNumberTab").css("cursor", "auto");

        $("#individualsList").removeClass("mt-element-overlay");
        $("#showOverlay").hide();

        var rowId = $(this).attr("data-rowId");

        $("#callInd" + rowId).attr("id", "newCallInd" + rowId);

        var elementCopied = $("#" + rowId);

        $("#fa" + rowId).removeClass("fa-phone");
        $("#fa" + rowId).addClass("fa-arrow-left");
        //$("#btnCallBack" + rowId).remove();
        $(elementCopied).remove();




        $("#callBackIndividualsList").append(elementCopied);


    });

    //wrong number tab.
    $(document).on("click", "[id^='btnWrongNumber']", function () {

        ////reload a new questions view.
        //var questionsView = '/callcenter/Questions';
        //$("#questions").load(questionsView);

        ////reload a new questions view.
        //var questionsView = '/callcenter/FAQs';
        //$("#FAQs").load(questionsView);

        //stopwatch timer;
        stop();
        var callTime = formatTime(x.time());
        reset();

        $("#completedTab").attr("data-toggle", "tab");
        $("#callBackTab").attr("data-toggle", "tab");
        $("#completedTab").css("cursor", "auto");
        $("#callBackTab").css("cursor", "auto");
        $("#scrollIndividual").css("overflow", "auto");
        $("#pendingTab").attr("data-toggle", "tab");
        $("#pendingTab").css("cursor", "auto");
        $("#wrongNumberTab").attr("data-toggle", "tab");
        $("#wrongNumberTab").css("cursor", "auto");

        $("#individualsList").removeClass("mt-element-overlay");
        $("#showOverlay").hide();

        var rowId = $(this).attr("data-rowId");

        $("#callInd" + rowId).attr("id", "newCallInd" + rowId);

        var elementCopied = $("#" + rowId);

        $("#fa" + rowId).removeClass("fa-phone");
        $("#fa" + rowId).removeClass("fa-arrow-left");
        $("#fa" + rowId).addClass("fa-times");
        
        $("#indRow" + rowId).remove();
        $(elementCopied).remove();




        $("#wrongNumberIndividualsList").append(elementCopied);


    });

    $(document).on("click", "[id^='newCallInd']", function () {

        //stopwatch timer;
        start();

        $("#completedTab").attr("data-toggle", "disabled");
        $("#pendingTab").attr("data-toggle", "disabled");

        $("#completedTab").css("cursor", "no-drop");
        $("#pendingTab").css("cursor", "no-drop");

        $("#scrollIndividual").css("overflow", "hidden");

        var rowCallId = $(this).attr("data-rowId");
        var elementCopied = $("#" + rowCallId);

        $("#fa" + rowCallId).removeClass("fa-arrow-left");
        $("#fa" + rowCallId).addClass("fa-phone");

        $("div").scrollTop(-1583);


        $(elementCopied).remove();
        $("#callBackIndividualsList").prepend(elementCopied);

        $("#individualsList").addClass("mt-element-overlay");
        $("#showOverlay").show();

    });

    ////This is an ajax function to test operation and script display from database.
    //function fillFAQsList(opID) {
    //    //this script is for FAQs
    //    var FAQURL = "http://pmdev.wbintl.co:1682/CallCenter/getFAQ";

    //    $.ajax({
    //        type: 'GET',
    //        url: FAQURL + "?operationKey=" + opID,
    //        dataType: 'json',
    //        timeout: 10000,
    //        success: function (data, textStatus, xhr) {

    //            if (data == 0)
    //                alert("Data couldn't be found!");
    //            else {
    //                //alert(opID);
    //                $.each(data, function (key, value) {


    //                    var html = '<div class="widget-news margin-bottom-20" value=' + value.FAQType + '>';
    //                    html += '<img class="widget-news-left-elem" alt="">';
    //                    html += '<div class="widget-news-right-body">';
    //                    html += '<div class="col-lg-7"><h3 class="widget-news-right-body-title"><input type="checkbox">' + value.QuestionText + '</h3></div><label class="pull-right"><font sixe="4"><i>' + value.QuestionNote + '</i></font></label>';
    //                    html += '<h5 class="col-lg-12" style="padding-left: 40px;">' + value.AnswerValue + '</h5>';



    //                    //    var html = '<div class="widget-news margin-bottom-20" value=' + value.FAQType + '>';
    //                    //    html += '<img class="widget-news-left-elem" alt="">';
    //                    //    html += '<div class="widget-news-right-body">';
    //                    //    html += '<h3 class="widget-news-right-body-title">' + value.QuestionText + '<span class="pull-right">' + value.QuestionNote + '</span></h3>';
    //                    //    html += '<input type="radio" name="radio1"><label>' + value.AnswerValue + '</label>';
    //                    //    html += '<input type="radio" name="radio1"><label>' + value.AnswerValue + '</label>';



    //                    if (value.FAQType == "General") $("#generalFAQ").append(html);
    //                    else if (value.FAQType == "Specific") $("#specificFAQ").append(html);
    //                });

    //                $('input').iCheck({
    //                    checkboxClass: 'icheckbox_minimal-grey',
    //                    radioClass: 'iradio_minimal-grey'
    //                });

    //            }

    //        }




    //    });
    //}

    //fillFAQsList(9);

</script>

<script>
    
    //$(document).ready(function () {





        //$('input').iCheck({
        //    checkboxClass: 'icheckbox_minimal-grey',
        //    radioClass: 'iradio_minimal-grey',
        //    increaseArea: '20%' // optional
        //});
//});
</script>