﻿.customOverlay {
    /*width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;*/

    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(53, 127, 177, 0.95);
}

.customButton{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1);
    overflow: hidden;
    position: relative;
    user-select: none;
    padding: 8px 14px 7px;
    /*////////////////////*/
    border-color: #e1e5ec;
    color: #e1e5ec;
    background: 0 0;

        line-height: 1.44;

        margin-top:30px;
}
